<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="f5d37b1d-ebfa-4cbc-88e7-bbc863ae3efa" name="Syntactische_Testen_API_Bron_VAC_Utr" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="f5d37b1d-ebfa-4cbc-88e7-bbc863ae3efafileName">Syntactische_Testen_API_Bron_VAC_Utr</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
